<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nba.mapper.TeamsMapper">
  <resultMap id="BaseResultMap" type="com.nba.entity.Teams">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_win" jdbcType="INTEGER" property="teamWin" />
    <result column="team_lose" jdbcType="INTEGER" property="teamLose" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="team_boss" jdbcType="VARCHAR" property="teamBoss" />
    <result column="ranking" jdbcType="INTEGER" property="ranking" />
    <result column="team_city" jdbcType="VARCHAR" property="teamCity" />
    <result column="team_area" jdbcType="VARCHAR" property="teamArea" />
    <result column="team_logo" jdbcType="VARCHAR" property="teamLogo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teams
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nba.entity.Teams">
    insert into teams (id, team_name, team_win, 
      team_lose, create_date, team_boss, 
      ranking, team_city, team_area, 
      team_logo)
    values (#{id,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{teamWin,jdbcType=INTEGER}, 
      #{teamLose,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{teamBoss,jdbcType=VARCHAR}, 
      #{ranking,jdbcType=INTEGER}, #{teamCity,jdbcType=VARCHAR}, #{teamArea,jdbcType=VARCHAR}, 
      #{teamLogo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nba.entity.Teams">
    update teams
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_win = #{teamWin,jdbcType=INTEGER},
      team_lose = #{teamLose,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      team_boss = #{teamBoss,jdbcType=VARCHAR},
      ranking = #{ranking,jdbcType=INTEGER},
      team_city = #{teamCity,jdbcType=VARCHAR},
      team_area = #{teamArea,jdbcType=VARCHAR},
      team_logo = #{teamLogo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, team_name, team_win, team_lose, create_date, team_boss, ranking, team_city, 
    team_area, team_logo
    from teams
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, team_name, team_win, team_lose, create_date, team_boss, ranking, team_city, 
    team_area, team_logo
    from teams
  </select>
  <select id="selectByArea" resultMap="BaseResultMap">
    select id, team_name, team_win, team_lose, create_date, team_boss, ranking, team_city, 
    team_area, team_logo
    from teams
    where team_area = #{area,jdbcType=VARCHAR}
  </select>
  <select id="selectWestTop" resultMap="BaseResultMap">
    select id, team_name, team_win, team_lose, create_date, team_boss, ranking, team_city, 
    team_area, team_logo
    from teams
    where team_area = 'west' order by ranking limit #{topCount,jdbcType=INTEGER}
    </select>
    <select id="selectEastTop" resultMap="BaseResultMap">
    select id, team_name, team_win, team_lose, create_date, team_boss, ranking, team_city, 
    team_area, team_logo
    from teams
    where team_area = 'east' order by ranking limit #{topCount,jdbcType=INTEGER}
    </select>
</mapper>